.chart {
  width: 60%;
  position: absolute;
     top: 50%;  /* position the top  edge of the element at the middle of the parent */
     left: 50%; /* position the left edge of the element at the middle of the parent */

     transform: translate(-50%, -50%); /* This is a shorthand of
                                          translateX(-50%) and translateY(-50%) */
 }

.finished {
  animation: pulse 5s infinite;
}

@keyframes pulse {
0%   { opacity: .5; }
50% { opacity: 1; }
100% { opacity: .5; }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
